<h3>List of users:</h3>

<div *ngIf="!users || users?.length === 0">
  Zoznam používateľov je prázdny.
</div>

<table class="userTable" *ngIf="users?.length > 0">
  <thead>
  <tr>
    <th>NAME </th>
    <th>CONTACT </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.contact}}</td>
    <td>
      <button (click)="updateUser(user.id)">Update</button>
      <button (click)="deleteUser(user.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
