
<div class="user-form">
  <form [formGroup]="form">
    <div class="user-form-input-group">
      <label>First Name:</label>
      <input pInputText formControlName="firstName">
    </div>
    <div class="user-form-input-group">
      <label>Last Name:</label>
      <input pInputText  formControlName="lastName">
    </div>
    <div class="user-form-input-group">
      <label>Email:</label>
      <input pInputText formControlName="email">
    </div>

    <div class="user-form-button-group">
      <p-button class="user-form-button" (click)="addUser()" *ngIf="form.value.id === null">Add user</p-button >
      <p-button class="user-form-button" (click)="updateUser()" *ngIf="form.value.id !== null">Update user</p-button>
      <p-button class="user-form-button" (click)="deleteUser()">Delete user</p-button>
    </div>
  </form>
</div>
