<h2>USERS - form</h2>

<form [formGroup]="form">

  <label>First Name: <input formControlName="firstName"></label><br>
  <label>Last Name: <input formControlName="lastName"></label><br>
  <label>Email: <input formControlName="email"></label><br>
  <br>

  <button (click)="addUser()" *ngIf="form.value.id === null">Add user</button>
  <button (click)="updateUser()" *ngIf="form.value.id !== null">Update user</button>
  <button (click)="deleteUser()">Delete user</button>
  <p-radioButton></p-radioButton>

</form>
