<div class="borrowing- form">
  <form [formGroup]="form">
    <div class="borrowing-form-input-group">
      <label>BOOK ID:</label>
      <input pInputText formControlName="bookId">
    </div>
    <div class="borrowing-form-input-group">
      <label>CUSTOMER ID:</label>
      <input pInputText formControlName="customerId">
    </div>
    <div class="borrowing-form-button-group">
      <p-button class="borrowing-form-button" (click)="add()" *ngIf="form.value.id === null">Add borrowing</p-button>
      <p-button class="borrowing-form-button" (click)="edit()" *ngIf="form.value.id !== null">Edit borrowing</p-button>
      <p-button class="borrowing-form-button" (click)="discard()">Delete</p-button>
    </div>
  </form>
</div>

